@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

  /* ========================
      Navbar Style
  =========================== */

.navMenu {
  position: fixed;
  top:5% ;
  right: 10%;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 120px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


/* ========================
     1. Home Page 
  =========================== */

.home {
  height: 100vh;
  width: 100%;
 
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  font-family: "Roboto", sans-serif;
}

.home .home-content {
  width: 60%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
 

}

.home .avatar{

  width: 99px;
  
    border-radius: 50%;
    border: 1px solid darkorange;
    padding: 1px;
    box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.586) inset;
  }

  .home .text {
      font-size: 25px;
  }

  .all-icons .twitter {
    font-size: 1.3rem;
    padding: 0.5rem;
    width :40px ;
  }

  .all-icons .twitter:hover {

    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;

  }

  .all-icons .instagram {
    font-size: 1.3rem;
    padding: 0.5rem;
    width :40px ;
  }

  .all-icons .instagram:hover {

    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;

  }

  .all-icons .linkedin {
    font-size: 1.3rem;
    padding: 0.5rem;
    width :40px ;
  }

  .all-icons .linkedin:hover {

    font-size: 1.6rem;
    transition: 0.3s;
    cursor: pointer;

  }

  footer {
    /* background: rgb(14 36 49 / 0.75); */
    padding: 15px 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
  
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }
  
  footer .text span {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
  }
  
  footer .text span a {
    font-weight: 500;
    color: #fff;
  }
  
  footer .text span a:hover {
    text-decoration: underline;
  }

  /* ========================
      2.Services
  =========================== */

  /* Section Styling */
section {
  padding-top: 40px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: "Roboto", sans-serif;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

section .title span {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}



section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

section .topic {
  color: #625bc1;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sub-title {
margin-bottom: 25px;
}
 /* ========================
      2.contact section
  =========================== */

 
  #contactForm {
    width: 300px;
    margin-top:5%;
    margin-left: 30%;
  }

  .eee{
    margin-left: 30%;
  }
  .input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    
}

.flex {
  display: flex;
  align-items: center;
}

.msg {
  text-align: center;
}



  /* #email , #message {
    background-color: rgba(63, 63, 70, 0.15);
  border: 1px solid rgb(63 63 70);
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.1rem;
   */
  label {
    margin-right: 10px;
  }
  


  input,
  textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    all: unset;
    background-color: rgba(63, 63, 70, 0.15);
    border: 1px solid rgb(63 63 70);
    width: 16rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.1rem;
  }
  
  button {
    width: 130px;
    height: 40px;
    color: #423f3f;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
    margin-top: 45px;
  }
  
  button:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-color: #9eb4ba;
  background-image: linear-gradient(315deg, #32545e 0%, #906ea8 74%);
    transition: all 0.3s ease;
  }
  button:hover {
    background: transparent;
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #292727;
  }
  button:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow:  4px 4px 6px 0 rgba(47, 46, 46, 0.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(73, 72, 72, 0.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }
  

